<h1>ようこそGatebookへ！</h1>

<div>
  <% message = "Hello!!的な" %>
  <%= message %>
</div>
<div>
  <%= 1 + 2 %>
</div>
<div>
  <% if language = "Ruby" %>
    <%= language %>
  <% end %>
</div>
<div>
  <%= @aya %>
</div>
<div>
  <%= link_to "Rails", "http://rubyonrails.org/" %>
</div>