<!DOCTYPE html>
<html>
<head>
  <title>Gatebook</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar">
    <div class="container">
      <div id="logo">Gatebook</div>
      <ul class="header-right">
<!-- 
        <li><%= link_to "Top", "/top" %></li>
        <li><%= link_to "About", "/about" %></li>
 -->
        <!-- こっちでもOK! -->
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "NewNote", notes_new_path %></li>
        <li><%= link_to "User", users_path %></li>
      </ul>
    </div>
  </header>

  <div class="container">
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <% end %>
  </div>

  <div class="container">
    <footer class="footer">
      <div class="small">
        &copy; 2015 Progate, Inc.
      </div>
    </footer>
  </div>

</body>
</html>
